@model IEnumerable<GoldAggregator.Parser.Entities.Entities.DealerCoinMap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchedTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dealer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoinCatalog)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchedTitle)
            </td>
            <td>
                <a href="@(item.Url)">@Html.DisplayFor(modelItem => item.Url)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dealer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoinCatalog.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
